@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Rubik:wght@300&display=swap');

body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    overflow-x: hidden;
    background-color:rgb(20,20,20);
    margin:0;
    padding:0;
}

#headerContainer, #footerContainer{
    border: 2px solid red;
    width:100%;
    text-align:center;
    margin:0;
    color:aqua;
}

#calcContainer{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius:40px;
    height: 40em;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    max-width:25em;
    padding-bottom:20px;
}

#screenContainer{
    /* border:2px purple solid; */
    position:relative;
    width:100%;
    height:30%;
    border-bottom:2px solid #03e9f4;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:flex-end;
}

#operation, #results{
    /* border:1px solid red; */
    width:100%;
    text-align:right;
    padding-right:20px;
    font-family: 'Rubik', sans-serif;
}

#operation{
    font-size:25px;
    color:#ddd;
}

#results{
    font-size:40px;
    color:#03e9f4;
}

#buttonsContainer{
    /* border: 2px blue solid; */
    height:70%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    align-items:center;
    padding-top:5px;
    padding-bottom:5px;
}

#buttonsContainer:hover .button-border{
    opacity:1;
}

.button{
    height:3.3em;
    width:3.6em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color:#03e9f4;
    font-size: 25px;
    position:relative;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Fira Sans', sans-serif;
}

.button:hover::before{
    opacity:1;
}

.button::before, 
.button > .button-border{
    border-radius: inherit;
    content:"";
    height:100%;
    left:0;
    position: absolute;
    top:0px;
    width:100%;
    z-index:2;
    opacity:0;
    transition:opacity 500ms;
    pointer-events: none; /*added to make it clickable but not sure if this is the right element*/
}

#buttonsContainer .button::before{
    background: radial-gradient(
        200px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index:3;
}

#buttonsContainer .button > .button-border{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.1),
        transparent 40%
    );
    z-index:1;
}

.button .button-content{
    height: 97.5%;
    width: 97.5%;
    background-color:rgb(23, 23, 23);
    border-radius:inherit;
    position:relative;
    margin:1px;
    z-index:2;
    display:flex;
    justify-content:center;
    align-items:center;
    user-select: none; /*make text unhighlightable*/
}

.number{
    color:#ddd;
}

.button .operator{
    color:#03e9f4;
    background-color:rgba(62, 223, 235, 0.2);
}

.button .equal{
    color:black;
    background-color:#03e9f4;
}